        <footer>               
            <div id="secondFooter">
                <div  id="footer">
                    <div class="ui container nested stackable grid">
                        <div class="five wide column">
                            <div class="ui header huge">
                                <div class="footer upp header">
                                    ENVOY
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="footer description">
                                        <div class="uppp upppp">We create possibilities<br>for the connected world</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Explore</strong>
                                        <br>
                                        <a class="uppp upppp" href="/">home</a>
                                        <br>
                                        <a class="uppp upppp" href="/about">about</a>
                                        <br>
                                        <a class="uppp upppp" href="/contact">contact</a>
                                        <br>
                                        <a class="uppp upppp" href="/deal">deal</a>
                                        <br>
                                        <a class="uppp upppp" href="/blog">blog</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Visit</strong>
                                        <br>
                                        <span class="uppp upppp">50b nekede road</span>
                                        <br>
                                        <span class="uppp upppp">Owerri, Nigeria</span>
                                        <br>
                                        <span class="uppp upppp">opposite</span>
                                        <br>
                                        <span class="uppp upppp">benzene hotel</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Follow us</strong>
                                        <br>
                                        <a class="uppp upppp" href="#">facebook</a>
                                        <br>
                                        <a class="uppp upppp" href="#">instagram</a>
                                        <br>
                                        <a class="uppp upppp" href="#">twitter</a>
                                        <br>
                                        <a class="uppp upppp" href="#">linkedIn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Legal</strong>
                                        <br>
                                        <a href="#" class="uppp upppp">terms</a>
                                        <br>
                                        <a href="#" class="uppp upppp">privacy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer2">
                    <div id="copy" class="ui container">
                        <div class="flex-container">
                            <div class="content">
                                <p><span class="copy">&copy; 2019 Courier.com</span></p>
                            </div>
                            <div class="content">
                                <p><span class="copy">made with <span id="heart"><i class="heart icon"></i></span> by Justice Eziefule</span></p>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </footer>    
        