        <footer>               
            <div id="secondFooter">
                <div  id="footer">
                    <div class="ui container nested stackable grid">
                        <div class="five wide column">
                            <div class="ui header huge">
                                <div class="footer upp header">
                                    Our Quote
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="footer description">
                                        <div class="uppp upppp">The soldier is<br>the army</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Explore</strong>
                                        <br>
                                        <a class="uppp upppp" href="/deal">home</a>
                                        <br>
                                        <a class="uppp upppp" href="/about">about</a>
                                        <br>
                                        <a class="uppp upppp" href="/blog">blog</a>
                                        <br>
                                        <a class="uppp upppp" href="/terms">terms</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Contact</strong>
                                        <br>
                                        <span class="uppp upppp">Send us an email;</span>
                                        <br>
                                        <span class="uppp upppp">Us_military.welfare@yahoo.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    <div class="footer up description">
                                        <strong class="uppp">Follow us</strong>
                                        <br>
                                        <a class="uppp upppp" href="https://web.facebook.com/USarmy/" target="_blank">facebook</a>
                                        <br>
                                        <a class="uppp upppp" href="https://www.instagram.com/usarmy/" target="_blank">instagram</a>
                                        <br>
                                        <a class="uppp upppp" href="https://twitter.com/USArmy" target="_blank">twitter</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer2">
                    <div id="copy" class="ui container">
                        <div class="flex-container">
                            <div class="content">
                                <p><span class="copy">&copy; 2019 US Military</span></p>
                            </div>
                            <div class="content">
                                <p><span class="copy">made with <span id="heart"><i class="heart icon"></i></span> for our soldiers</span></p>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </footer>    
        