
            <div id="firstFooter">
                <div class="ui container nested stackable grid">
                    <div class="nine wide column">
                        <div class="ui huge header left">
                            <div id="courier" class="header">
                                Courier
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <div class="item">
                            <div class="content">
                                <div id="courier2" class="description">
                                    We help send your parcels as your<br>favorite online courier
                                </div>
                                <div id="courier3" class="meta">
                                    <em>~ Justice Eziefule</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>