<% include ./partials/header %>

<section id="aboutPage">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div id="joe" class="ui centered header">
                <h1 class="header">
                    <div class="joee">
                        <span id="aboutPagee">ABOUT US</span><br>
                        <div id="i">
                            <i id="blueee" class="hand point down outline icon"></i>
                        </div>
                    </div>
                    <br>Take a tour and meet<br>the amazing team that made this project happen
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="stillAboutPage">
    <div class="ui stackable container grid">
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue"
                src="https://cdn.pixabay.com/photo/2018/05/10/11/11/african-3387301__340.jpg">
        </div>
        <div class="one wide column"></div>
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            Who exactly are we?
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            We're the US military. We dedicate this prestigious body to making our soldier's loved ones
                            feel a sense of belonging, because they play a huge role in shaping us.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="if" class="ui mobile reversed container grid stackable">
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            What we offer
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            <span>
                                Previously, in past years. Our gallant soldiers live in complete isolation with friends
                                and family members with no way to show their love by sending home some parcels. Courier
                                offers a way to solve that issue. We get soldier's packages/parcels to deserving hands,
                                wherever they may be in the world.
                            </span>
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    <i class="large middle aligned globe icon"></i>
                                    <div class="content">
                                        <div class="header">Global delivery</div>
                                        <div class="description">Check our terms and policy page for more details</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="large middle aligned chart bar outline icon"></i>
                                    <div class="content">
                                        <div class="header">Extensive progress report</div>
                                        <div class="description">Check our terms and policy page for more details</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <div class="header">Our site code on github</div>
                                        <div class="description">Check our terms and policy page for more details</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue"
                src="https://cdn.pixabay.com/photo/2019/01/24/10/04/board-3952195__340.jpg">
        </div>
    </div>
    <div class="ui stackable container grid">
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue"
                src="https://cdn.pixabay.com/photo/2018/03/23/10/46/people-3253355__340.jpg">
        </div>
        <div class="one wide column"></div>
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            Our goal?
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            To serve our gallant soldiers well and appropriately by;
                        </div>
                        <ul id="jg" class="ui list">
                            <li>Connecting them with loved ones as best we can</li>
                            <li>Sending home parcels</li>
                            <li>Providing a reliable shipping method</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ./partials/blogfooter2 %>
<% include ./partials/footer %>