<% include ./partials/header %>

<section id="aboutPage">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div id="joe" class="ui centered header">
                <h1 class="header">
                    <div class="joee">
                        <span id="aboutPagee">ABOUT US</span><br>
                        <div id="i">
                            <i id="blueee" class="hand point down outline icon"></i>
                        </div>
                    </div>
                    <br>Take a tour and meet<br>the amazing team that made this project happen
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="stillAboutPage">
    <div class="ui stackable container grid">
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue" src="https://cdn.pixabay.com/photo/2018/05/10/11/11/african-3387301__340.jpg">
        </div>
        <div class="one wide column"></div>
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            Who exactly are we?
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            Lorem ipsum dolor sit amet, aliqua. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="if" class="ui mobile reversed container grid stackable">
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            What our brand offers
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            <span>Lorem ipsum dolor sit amet, aliqua. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    <i class="large middle aligned globe icon"></i>
                                    <div class="content">
                                        <div class="header">Global delivery</div>
                                        <div class="description">Check our policy page for more details</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="large middle aligned chart bar outline icon"></i>
                                    <div class="content">
                                        <div class="header">Extensive progress report</div>
                                        <div class="description">Check our policy page for more details</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <div class="header">Our site code on github</div>
                                    <div class="description">Check our policy page for more details</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue" src="https://cdn.pixabay.com/photo/2019/01/24/10/04/board-3952195__340.jpg">
        </div>
    </div>
    <div class="ui stackable container grid">
        <div class="six wide column img-hover-zoom">
            <img class="ui fluid image flue" src="https://cdn.pixabay.com/photo/2018/03/23/10/46/people-3253355__340.jpg">
        </div>
        <div class="one wide column"></div>
        <div class="nine wide column">
            <div class="item">
                <div class="content">
                    <div class="ui huge centered header">
                        <div class="header">
                            Our goal?
                        </div>
                    </div>
                    <div class="description">
                        <div class="lorem">
                            Lorem ipsum dolor sit amet, aliqua. dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <ul id="jg" class="ui list">
                            <li>Lorem ipsum</li>
                            <li>laboris nisi</li>
                            <li>Lorem ipsum dolor sit</li>
                            <li>Lorem ipsum dolor sit</li>
                            <li>aliquip ex ea commodo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gee" class="ui stackable container grid">
        <div class="sixteen wide column">
            <div class="ui centered huge header">
                <div class="header">
                    Meet the founders
                </div>
            </div>
        </div>
        <div class="two wide column"></div>
        <div class="twelve wide column img-hover-zoom">
            <img class="ui fluid image" src="https://cdn.pixabay.com/photo/2018/11/29/10/43/action-3845502__340.jpg">
        </div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="item">
                <div class="content">
                    <div id="tion" class="description lorem">
                        <span>Lorem ipsum dolor sit amet, Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, aliqua. dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.sunt in culpa qui officia deserunt mollit anim id est laborum.<p>Lorem ipsum dolor sit amet, aliqua. dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, aliqua. dolor in reprehenderit.</p>in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
</section>


<% include ./partials/blogfooter2 %>
<% include ./partials/footer %>