<% include ./partials/header %>

<main>
    <div id="show" class="ui container">
        <h1 style="font-size: 3em;" class="ui center aligned header"><%=covid.name%></h1>
        <br>
    </div>
    <div class="ui items container">
        <div class="item">
            <div class="content">
                <div class="description">
                    <br>
                    <p><%-covid.body%></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ./partials/blogfooter2 %>
<% include ./partials/footer %>