<% include ./partials/header %>
<main id="main">
    <div id="dealJombo" style="background: #1678C2; height: 30px; color: white; text-align: center; font-weight: bold;">
        We are monitoring the impact of the COVID-19 outbreak. Stay connected with the latest services
    </div>
    <div id="dealJombotron">
        <div class="ui stackable container grid">
            <div class="ten wide column">
                <div id="stack" class="ui very huge header">
                    <h1 id="trusted" class="header">All you <span id="and">can</span> Be</h1>
                </div>
                <br>
                <div class="item">
                    <div class="content centered">
                        <div style="font-weight: bold; text-shadow: 1px 1px #fcfcfc;" class="ui white description">The
                            US Military courier services is open 24/7 to <br>our soldiers and their loved ones</div>
                        <br>
                        <div class="extra">
                            <form action="/product/search" method="post">
                                <div class="ui right aligned search">
                                    <div class="fluid ui icon input">
                                        <input required name="reference" class="prompt" type="text"
                                            placeholder="PRODUCT ID...........Search package">
                                        <i class="search icon"></i>
                                    </div>
                                </div>
                                <br>
                                <button class="fluid ui button blue">Search Package</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide social column">
                <a href="https://web.facebook.com/USarmy/" target="_blank" id="social"
                    class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </a>
                <a href="https://twitter.com/USArmy" target="_blank" class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </a>
                <a href="https://www.instagram.com/usarmy/" target="_blank" class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container stackable ui grid">
        <div class="sixteen wide column">
            <div class="ui centered huge header">
                <h1 style="color: #1678C2; font-size: 1.3em" class="header best">News and Update!</h1>
                <h2 class="header best" style="color: black">How we're responding to COVID-19</h2>
            </div>
            <hr class="style-two">
        </div>
        <br>
        <div class="ui stackable grid">
            
        </div>
        <div class="sixteen wide column">
            <div style="margin-top: 10px" class="ui centered huge header">
                <h1 style="color: #1678C2; font-size: 1.3em" class="header best">Our blog posts guide soldiers and
                    customers <div style="color: black; font-size: 25px">on shipping best practices</div>
                </h1>
            </div>
            <hr class="style-two">
            <div class="item">
                <div class="content">
                    <div class="extra">
                        <div class="prize">At US military, we strive to make our brothers and sisters in arms feel at
                            home while serving<br>and be able to send parcels to family and loved ones without having to
                            wait for the end of one's service
                            <br>
                            That's the sole purpose this iniative was implemented and with time, we've come to compile
                            <br>
                            a list of ways soldiers can use this platform with ease
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ii" id="fade">
                <a id="a" href="/blog" class="ui blue huge animated fade button" tabindex="0">
                    <div class="visible content">Check blog page</div>
                    <div class="hidden content">
                        go?
                    </div>
                </a>
            </div>
        </div>
    </div>
    <section class="love">
        <div class="ui container stackable grid">
            <div class="sixteen wide column">
                <div class="ui huge centered header">
                    <div class="header best">
                        What we offer you
                    </div>
                </div>
            </div>
            <div class="four wide column hrr" data-tooltip="The best location tracker to serve you better"
                data-variation="basic">
                <img class="ui centered small image"
                    src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/traveling_t8y2.svg">
            </div>
            <div class="four wide column" data-tooltip="Neat packaging" data-variation="basic">
                <img class="ui centered small image"
                    src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/deliveries_131a.svg">
            </div>
            <div class="four wide column" data-tooltip="Skilled and experienced operators" data-variation="basic">
                <img class="ui centered small image"
                    src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/logistics_x4dc.svg">
            </div>
            <div class="four wide column" data-tooltip="Get delivered to your home" data-variation="basic">
                <img class="ui centered small image"
                    src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/house_searching_n8mp.svg">
            </div>
        </div>
        <div class="ui stackable grid">
            <div class="sixteen wide column">
                <h1 style="margin-top: 10px !important;" class="ui header centered">Our Troops, Our pride</h1>
                <div id="player-overlay">
                    <iframe id="existing-iframe-example" width="100%" height="400"
                        src="https://www.youtube.com/embed/unHaJLuFNfA?enablejsapi=1" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="ui container stackable grid">
            <div class="eight wide column">
                <div class="fast">
                    <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Super fast
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">3 days max for delivery to North and South American countries<br>and an
                            additional 3 days to other countries</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Reliable
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">We strive to serve the US military men and women reliably<br>option congue
                            nihil imper per
                            and leave no room for setbacks</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Effective communication
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Through sending of emails and calling when it's neccessary<br>we make sure
                            communication isn't a problem for our customers</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                    <i class="fas fa-check-double"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Safe
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Shipping through the US Military courier services is the safest method of shipping<br>option congue nihil imper per
                            one can think of </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>


<% include ./partials/blogfooter %>
            <% include ./partials/blogfooter2 %>
            <% include ./partials/footer %>