<% include ./partials/header %>
<main id="main">
    <div id="dealJombotron">
        <div class="ui stackable container grid">
            <div class="ten wide column">
                <div id="stack" class="ui very huge header">
                    <h1 id="trusted" class="header">Tested <span id="and">and</span> Trusted</h1>
                </div>
                <br>
                <div class="item">
                    <div class="content centered">
                        <div class="ui white description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna.</div>
                        <br>
                        <div class="extra">
                            <a id="wrapper" href="/deal/shipping" class="ui huge primary animated button" tabindex="0">
                                <div class="visible content">Find the best price</div>
                                <div class="hidden content">
                                    GO!
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide social column">
                <button id="social" class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                </button>
                
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
                <button class="ui circular youtube plus icon button">
                    <i class="youtube icon"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="container stackable ui grid">
        <div class="sixteen wide column">
            <div class="ui centered huge header">
                <div class="header best">The best tracking system for you! <br>Never lose track</div>
            </div>
            <hr class="style-two">
            <form class="ui form">
                <div class="ui fluid action input">
                    <input type="text" placeholder="Shipping Number; JUST10101010">
                    <div>
                        <a href="/deal/rate" class="ui animated button blue" tabindex="0">
                        <div class="visible content">Track code</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="sixteen wide column">
            <div class="ui centered huge header">
                <div class="header best">State of the art price list calculator for every need</div>
            </div>
            <hr class="style-two">
            <div class="item">
                <div class="content">
                    <div class="extra">
                        <div class="prize">Lorem ipsum dolor sit amet, sed do eiusmod labore et dolore magna aliqua.<br>Ut enim ad minim exercitation ex ea commodo consequat<br>in reprehenderit in voluptate velit</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ii" id="fade">
                <a id="a" href="/deal/rates" class="ui blue huge animated fade button" tabindex="0">
                    <div class="visible content">Check the best rate</div>
                    <div class="hidden content">
                        $7.99?
                    </div>
                </a>
            </div>
        </div>
    </div>
    <section class="love">
        <div class="ui container stackable grid">
            <div class="sixteen wide column">
                <div class="ui huge centered header">
                    <div class="header best">
                        What we offer you
                    </div>
                </div>
            </div>
            <div class="four wide column hrr" data-tooltip="The best location tracker to serve you better" data-variation="basic">
                <img class="ui centered small image" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/traveling_t8y2.svg">
            </div>
            <div class="four wide column" data-tooltip="Neat packaging" data-variation="basic">
                <img class="ui centered small image" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/deliveries_131a.svg">
            </div>
            <div class="four wide column" data-tooltip="Skilled and experienced operators" data-variation="basic">
                <img class="ui centered small image" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/logistics_x4dc.svg">
            </div>
            <div class="four wide column" data-tooltip="Get delivered in your home" data-variation="basic">
                <img class="ui centered small image" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/house_searching_n8mp.svg">
            </div>
        </div>
        <div class="ui stackable grid">
            <div class="sixteen wide column">
                <div id="player-overlay">
                    <iframe id="existing-iframe-example"
                        width="100%" height="400"
                        src="https://www.youtube.com/embed/zNkvxxJIVTE?enablejsapi=1"
                        frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="ui container stackable grid">
            <div class="eight wide column">
                <div class="fast">
                   <i class="fas fa-shipping-fast"></i> 
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Super fast
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Nam liber tempor cum soluta nobi eleifend<br>option congue nihil imper per tem por legere<br>eleifend legere me doming.</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                   <i class="fas fa-handshake"></i> 
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Reliable
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Nam liber tempor cum soluta nobi eleifend<br>option congue nihil imper per tem por legere<br>eleifend legere me doming.</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                   <i class="fas fa-comments"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Effective communication
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Nam liber tempor cum soluta nobi eleifend<br>option congue nihil imper per tem por legere<br>eleifend legere me doming.</div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="fast">
                   <i class="fas fa-check-double"></i>
                </div>
                <div class="ui centered huge header">
                    <div class="header">
                        Safe
                    </div>
                </div>
                <div class="ui centered content">
                    <div class="extra">
                        <div class="fastt">Nam liber tempor cum soluta nobi eleifend<br>option congue nihil imper per tem por legere<br>eleifend legere me doming.</div>
                    </div>
                </div>
            </div>
        </div>
                <div class="ui people shape">
                    <div class="sides">
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="https://www.persofoto.com/images/vorher-nachher/passfoto-beispiel-nachher.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Steve Jobes</div>
                                    <div class="meta">
                                        <a>Acquaintances</a>
                                    </div>
                                    <div class="description">
                                        Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                            151 Friends
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/avatar/large/steve.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Steve Jobes</div>
                                    <div class="meta">
                                        <a>Acquaintances</a>
                                    </div>
                                    <div class="description">
                                        Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                            151 Friends
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/avatar/large/steve.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Steve Jobes</div>
                                    <div class="meta">
                                        <a>Acquaintances</a>
                                    </div>
                                    <div class="description">
                                        Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                            151 Friends
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/avatar/large/steve.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Steve Jobes</div>
                                    <div class="meta">
                                        <a>Acquaintances</a>
                                    </div>
                                    <div class="description">
                                        Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                            151 Friends
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main>


<% include ./partials/blogfooter %>
<% include ./partials/blogfooter2 %>
<% include ./partials/footer %>