<% include ./partials/header %>


<div style="padding-top: 50px" id="blogMain" class="ui main text">
    <div class="ui centered nested stackable grid container">
        <div id="top" style="background: white;" class="eleven wide column">
            THE FOLLOWING TERMS AND CONDITIONS GOVERN YOUR USE OF THE US MILITARY COURIER WEBSITE, INCLUDING THE COURIER
            SHIP MANAGER, COURIER DELIVERY MANAGER, COURIER GLOBAL TRADE MANAGER, COURIER MOBILE, COURIER TRACKING
            SIGNATURE PROOF OF DELIVERY, COURIER TRACKING UPDATES AND COURIER BILLING ONLINE. YOUR VIEWING OR USE OF
            THIS SITE WILL CONSTITUTE YOUR AGREEMENT, ON BEHALF OF YOURSELF AND THE ENTITY YOU REPRESENT (HEREINAFTER
            COLLECTIVELY "YOU" OR "YOUR"), TO ALL OF THE TERMS AND CONDITIONS PROVIDED BELOW.
            <br>
            <h2>Section 1. Definitions</h2>

            Content: information, graphics, products, features, functionality, services, and links on this website.

            Courier: The US Military Courier Corporate Services, Incorporated, its parent and its parent's subsidiary
            companies.

            You: Yourself and the entity that you represent
            <div><a href="#top">BACK TO TOP</a></div>
            <h2>Section 2. Use of the website</h2>
            We are solely for the use of current and potential customers to interact with us and may not be used by any
            other person or entity, or for any other purpose. Specifically, all shipping, tracking, rating, receiving
            invoices and remitting payment using electronic funds transfer ("EFT"), drop-off location, identifying and
            preparing international documents, estimating duties and taxes, and other information and services may only
            be used by current and potential customers for their own shipments. Use of courier to provide
            information to or prepare shipments by or for the benefit of third party shippers is expressly prohibited.
            <br>
            The use of non-authorized scripting technologies to obtain information from courier or submit information
            is strictly prohibited.
            <br>
            Courier does not accept ideas, concepts, or techniques for new services or products through this platform. If such
            information is received, it will not be considered confidential and we will be deemed free to use,
            communicate and exploit such information in any manner it chooses.
            <div><a href="#">BACK TO TOP</a></div>
            <h2>Section 3. Login And Registration</h2>
            You may choose to register to access interactive features. Login
            provides you with access to courier Ship Manager, Tracking, Global Trade
            Manager, Billing Online, Mobile and other online services. The availability of these services
            varies by country. In the future, courier may add other features that may be accessed through courier Login.
            In such event, previously registered users will not be required to re-register.

            <div><a href="#">BACK TO TOP</a></div>
            <h2>Section 4. Changes to courier</h2>
            courier and its Content, may be changed, deleted or updated at any time without notice.
            <div><a href="#">BACK TO TOP</a></div>
            <h2>Section 5. Termination of Use</h2>
            courier may discontinue, suspend or modify at any time without notice, and courier may block,
            terminate or suspend Your and any user's access at any time for any reason in its sole
            discretion, even if access continues to be allowed to others.
            <div><a href="#">BACK TO TOP</a></div>
            <h2>Section 6. Ownership</h2>
            courier and its Content are protected by United States and international copyright, trademark and other
            laws. © 1995-2008. All rights reserved. Specifically, Courier does not convey to anyone, through
            allowing access, any ownership rights in courier or in any Content appearing on or made
            available through courier. Customer may not copy, modify, translate, transmit, distribute, adapt,
            reproduce, decompile, reverse engineer or disassemble any part of courier or its Content.
            <div><a href="#">BACK TO TOP</a></div>
            
        </div>
        <div class="five wide column">
            <form action="/product/search" method="post">
                <div class="ui fluid icon input loading">
                    <input required type="text" placeholder="Search package...">
                    <i class="search icon"></i>
                </div>
                <button class="ui grey huge button fluid">Check</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/blogfooter2 %>
<% include ./partials/footer %>